# Environment variables & secrets
.env

# Data & Databases (DuckDB / Local Parquet)
*.duckdb
*.duckdb.wal

# Python & Poetry artifacts
__pycache__/
*.pyc
.venv/
venv/

# Notebooks & documentation tools
.ipynb_checkpoints
.obsidian/

# Windows OS specifics
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/